/* reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;	
}

ul {
	list-style-type: none;
}

html {
	height: 100%;
	overflow: scroll;
}

body {
	background-color: #e6e0e0;
	font: normal 1rem 'Arial';
}

main {
	width: 90%;
	margin: auto;
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

header {
	width: 100%;
	margin: auto;
	text-align: center;
}

footer {
	width: 100%;
	padding: 0 0 2rem 0;
	text-align: center;
	font-size: 1rem;
	color: #505050;
}

.site_title {
	display: block;
	font-size: 2.5rem;
	margin: 0 auto 1rem auto;
	text-align: center;	
	color: #505050;
}

.page_title {
	font-size: 2rem;
	margin: 0 auto 1.5rem auto;
	color: #505050;
	width: 100%;
	text-align: center;
}

.books {
}

.book_item {
	font-size: 1rem;
	margin-bottom: 2rem;
	background-color: #ffffff;
	padding: 2em 1em;
	border-radius: 4vw;
	width: 100%;
	color: #505050;
}

.book_item .cover {
	margin-bottom: 1em;
	width: calc(100% - 1rem);
}

.book_item h3 {
	font-size: 1.5rem;
	margin-bottom: 1em;
}

.book_item p {
	margin-bottom: 1em;
}

.paypal .buynow {
	width: 50%;
}

@media only screen and (min-width: 480px) {

	main {
		width: 90%;
	}

	footer {
		font-size: 1.5rem;
	}

	.site_title {
		font-size: 4rem;
	}

	.page_title {
		font-size: 3rem;
	}

	.book_item {
		font-size: 1rem;
		margin-bottom: 4rem;
		padding: 3em em;
		border-radius: 2vw;
		width: 100%;
	}

	.book_item .cover {
		margin-bottom: 1em;
		width: 60%;
	}

	.book_item h3 {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}

	.book_item p {
		margin-bottom: 1em;
	}

	.paypal .buynow {
		width: 30%;
	}
}

@media only screen and (min-width: 1000px) {

	main {
		width: 900px;
	}

	footer {
		font-size: 1.5rem;
	}

	.site_title {
		font-size: 4rem;
	}

	.page_title {
		font-size: 3rem;
	}

	.book_item {
		font-size: 1.3rem;
		margin-bottom: 4rem;
		padding: 3em em;
		border-radius: 2vw;
		width: 100%;
	}

	.book_item .cover {
		margin-bottom: 1em;
		width: 60%;
	}

	.book_item h3 {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}

	.book_item p {
		margin-bottom: 1em;
	}

	.paypal .buynow {
		width: 25%;
	}
}

