/* reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;	
}

ul {
	list-style-type: none;
}

html {
	height: 100%;
	overflow: scroll;
}

body {
	background-color: #e6e0e0;
	font: normal 1rem 'Arial';
}

main {
	width: 90%;
	margin: auto;
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

header {
	width: 100%;
	margin: auto;
	text-align: center;
}

header h1 {
	font-size: 6rem;
	margin: auto;
	text-align: center;	
	color: #505050;
}

footer {
	width: 1000px;
	margin: auto;
	text-align: center;
}

.page_title {
	font-size: 5rem;
	margin: 1em;
	color: #505050;
}

.books {
	display: grid;
	grid-auto-flow: row;
}

.book_item {
	font-size: 2.8rem;
	margin-bottom: 4rem;
	background-color: #ffffff;
	padding: 2em 1em;
	border-radius: 4vw;
	width: 100%;
	color: #505050;
}

.book_item .cover {
	margin-bottom: 1em;
	width: calc(100% - 4rem);
}

.book_item h3 {
	font-size: 3.5rem;
	margin-bottom: 1em;
}

.book_item p {
	margin-bottom: 1em;
}

.paypal .buynow {
	width: 50%;
}